<div>
    <div class="branch" ng-class="{dragOver: draggingOver, isTrue: node.value.isTrue}"
         ng-mouseenter="showButtons = true" ng-mouseleave="showButtons = false">
        <!--<input ng-hide="node.collapsed" ng-click="toggleCollapse()" type="button" value="-"/>-->
        <!--<input ng-hide="!node.collapsed" ng-click="toggleCollapse()" type="button" value="+"/>-->
        <select ng-options="option.name for option in options" ng-model="node.value.input"></select>
        of the following...
        <div class="inlineBlock" ng-class="{hiddenButtons: !showButtons}">
            <input type="button" value="add condition" ng-click="addCondition()">
            <input type="button" value="add branch" ng-click="addBranch()">
            <input type="button" value="delete" ng-click="deleteSelf()" ng-hide="node.isRoot()">
            <input type="button" value="merge with parent" ng-show="isMergeable()" ng-click="mergeWithParent()">
        </div>
    </div>
    <ul ng-hide="node.collapsed">
        <li ng-repeat="cNode in node.childNodes.filter(isCondition)">
            <condition node="cNode" vars="vars"></condition>
        </li>
        <li ng-repeat="bNode in node.childNodes.filter(isBranch)">
            <branch node="bNode" vars="vars"></branch>
        </li>
    </ul>
</div>