<div class="dtContainer">
    <!--todo undo/redo for text editing-->
    <!--todo sub-tables and parents-->
    <!--todo test data input, data output -->
    <!--todo copy paste cells-->
    <!--todo select multiple cells-->
    <!--todo try out a system with fixed cell width, but editable by user-->
    <!--todo wrap long text-->
    <!--todo arrow keys to select adjacent cells-->
    <!--todo select row, copy paste-->
    <!-- todo  hit policy more user friendly-->
    <!--    <h4 style="text-decoration: underline">Table: {{table.name}}</h4>-->

    <div class="dtEditor">
        <function-creator2></function-creator2>
    </div>
    <table class="decisionTable">
        <colgroup>
            <col>
            <col span="{{table.conditionsSpan()}}" class="dtConditions">
            <col span="{{table.resultsSpan()}}" class="dtResults">
        </colgroup>
        <thead>
        <!-- Categories -->
        <tr class="dtCategories">
            <th ng-mouseenter="showRuleButton=true" ng-mouseleave="showRuleButton=false">
                Rules
                <div class="btnContainer">
                    <input type="button" value="+" ng-click="addingRule=true" ng-show="showRuleButton"/>
                </div>
            </th>
            <th ng-repeat="category in categories" colspan="{{category.span()}}"
                ng-mouseenter="category.showButton = true" ng-mouseleave="category.showButton = false">
                {{category.name}}
                <div class="btnContainer">
                    <input type="button" value="+" ng-click="changeCategory(category.name); columnBool(true)" ng-show="category.showButton"/>
                </div>
                <div pop-up ng-show="addColumnBool">
                    <div>
                        <result-creator2 ng-show="addCategory === 'Results'"></result-creator2>
                        <condition-creator2 ng-show="addCategory === 'Conditions'"></condition-creator2>
                        <input type="button" value="cancel" ng-click="columnBool(false)"/>
                    </div>

                </div>
            </th>
        </tr>
        <!-- Hit policy and Classes -->
        <tr>
            <th class="dtHitPolicy noSelect" rowspan="2">
                Hit policy:
                <div class="inlineBlock">
                    <div class="dropdownHeader inlineBlock" ng-style="{width: '95px'}" ng-class="{dropdownSelected: attribute.showDropdown}"
                         ng-click="attribute.showDropdown = !attribute.showDropdown" click-away="attribute.showDropdown=false"
                         title="{{table.hitPolicy.description}}">
                        {{table.hitPolicy.name}}
                    </div>
                    <ul class="dropdownList" ng-show="attribute.showDropdown">
                <span ng-repeat="optionGroup in hitPolicyOptionGroups">
                    <li class="dropdownSubHeader" title="{{optionGroup.description}}">{{optionGroup.name}}</li>
                    <li ng-repeat="option in optionGroup.options" title="{{option.description}}"
                        class="dropdownButtonCompact" ng-click="table.hitPolicy = option">
                        {{option.name}}
                    </li>
                </span>
                    </ul>
                </div>

                <!--<select ng-options="option for option in hitPolicyOptions" ng-model="table.hitPolicy" ng-change="afterChange()"></select>-->
            </th>
            <th class="dtClass" colspan="1" draggable="true" dragover-fix bind-events="{arg: class, functions: dragFunctions}"
                ng-class="{dragging: class.dragging, dragOver: class.dragOver}" ng-show="table.conditions.classes.length === 0">
            </th>
            <th class="dtClass" ng-repeat="class in table.classes()" colspan="{{class.attributes.length}}"
                draggable="true" dragover-fix bind-events="{arg: class, functions: dragFunctions}"
                ng-mouseenter="class.showButton = true" ng-mouseleave="class.showButton = false"
                ng-class="{dragging: class.dragging, dragOver: class.dragOver}">
                {{class.name}}
                <div class="btnContainer">
                    <input type="button" value="-" ng-click="class.getParent().removeClass(class)" ng-show="class.showButton"/>
                </div>
            </th>
            <th class="dtClass" colspan="1"
            " draggable="true" dragover-fix bind-events="{arg: class, functions: dragFunctions}"
            ng-class="{dragging: class.dragging, dragOver: class.dragOver}" ng-show="table.results.classes.length === 0">
            </th>
        </tr>
        <!-- Attribute headers -->
        <tr>
            <th class="dtAttribute" ng-show="table.conditions.classes.length === 0"></th>
            <th class="dtAttribute" ng-repeat="attribute in table.attributes()"
                draggable="true" dragover-fix bind-events="{arg: attribute, functions: dragFunctions}"
                ng-class="{dragging: attrDragging(attribute), dragOver: attrDragOver(attribute)}">
                <div class="dropdownHeader" ng-class="{dropdownSelected: attribute.showDropdown}"
                     ng-click="attribute.showDropdown = !attribute.showDropdown" click-away="attribute.showDropdown=false">
                    {{attribute.name}}
                </div>
                <ul class="dropdownList" ng-show="attribute.showDropdown">
                    <li class="dropdownSubHeader">sort</li>
                    <li class="dropdownButton" ng-click="sortRules(attribute, false)">ascending</li>
                    <li class="dropdownButton" ng-click="sortRules(attribute, true)">descending</li>
                    <li class="dropdownButton" ng-click="removeRuleSort()">remove sort</li>
                    <li class="dropdownButton" ng-click="goToSubTable(attribute.getParent().name)"
                        ng-show="hasSubTable(attribute.getParent().name)">go to subtable
                    </li>
                    <li class="dropdownButton" ng-click="createSubTable(attribute.getParent().name)"
                        ng-show="!hasSubTable(attribute.getParent().name)">create subtable
                    </li>
                    <li class="dropdownButton finishRuleButton" ng-click="attribute.getParent().removeAttribute(attribute)">remove column</li>
                </ul>
            </th>
            <th class="dtAttribute" ng-show="table.results.classes.length === 0"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rule in table.rules">
            <!--rule headers-->
            <th class="dtRule" draggable="true" dragover-fix bind-events="{arg: rule, functions: dragFunctions}"
                ng-mouseenter="rule.showButton = true" ng-mouseleave="rule.showButton = false"
                ng-class="{dragging: rule.dragging, dragOver: rule.dragOver}">
                {{rule.name}}
                <div class="btnContainer">
                    <input type="button" value="x" ng-click="deleteRule(rule, $index)" ng-show="rule.showButton"/>
                </div>
            </th>
            <!--cell values-->
            <td class="dtCell" colspan="1" rowspan="table.rules.length" ng-show="table.conditions.classes.length === 0"></td>
            </td>
            <td class="dtCell noSelect" ng-repeat="attribute in table.attributes()"
                ng-click="clickCell(rule, attribute)"
                ng-mousedown="selectCell(rule, attribute)" ng-mouseup="selectCell(rule, attribute)"
                ng-class="{dragging: cellDragging(rule, attribute), dragOver: cellDragOver(rule, attribute), selected: selectedCell(rule, attribute)}">
            <span ng-hide="editingCell(rule, attribute)">
                {{rule.values[attribute].substring(0, 25)}}
            </span>

            <input ng-show="editingCell(rule, attribute)" type="text" dir="ltr" ng-model="rule.values[attribute]"
                   ng-focus="selected.focused = true" ng-blur="blurCell()" focus-me="{{selected.focused && !selected.formulaEditing}}"/>

            </td>
            <td class="dtCell" colspan="1" rowspan="table.rules.length" ng-show="table.results.classes.length === 0"></td>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="dtToolbar">
        <input type="button" value="undo" ng-disabled="!undoRedo.canUndo()" ng-click="undo()">
        <input type="button" value="redo" ng-disabled="!undoRedo.canRedo()" ng-click="redo()">
        <input type="button" value="showRuleBuilder" ng-click="showRuleBuilder = true">
    </div>
    <!-- pop-ups-->
    <div pop-up ng-show="showRuleBuilder">
        <div>
            <rule-builder data="{currentTable: table}"></rule-builder>
            <input type="button" value="hideRuleBuilder" ng-click="showRuleBuilder = false">
        </div>
    </div>
    <div pop-up ng-show="addingRule">
        <div>
            Enter name:
            <input type="text" ng-model="newRuleName" ng-keypress="addRuleKeyPress($event)" focus-me="{{addingRule}}"/>
            <button ng-click="doneAddingRule()">cancel</button>
            <button ng-disabled="!newRuleName" ng-click="addRule(newRuleName)">add</button>
        </div>
    </div>

    <input type="button" value="showTreeTest" ng-click="showTreeTest=true"/>
    <div pop-up ng-show="showTreeTest">
        <div>
            <boolean-logic-tree root="testRoot"></boolean-logic-tree>
            <input type="button" value="hideTreeTest" ng-click="showTreeTest=false"/>

        </div>
    </div>
</div>
