<div class="inlineBlock">
    <!--<input type="number" min="1" max="12" ng-model="date.month"/>/-->
    <!--<input type="number" min="1" max="31" ng-model="date.day"/>/-->
    <!--<input type="number" min="1" max="3000" ng-model="date.year"/>-->

    <select ng-if="node.getRoot().conditionType === 'text'" ng-options="option for option in node.getRoot().valueOptions"
            ng-model="node.conditionValue"></select>

    <input ng-if="node.getRoot().conditionType === 'number'" type="number" ng-model="node.conditionValue"
           ng-style="{width: '50px'}"/>

    <div ng-if="node.getRoot().conditionType === 'date'">
        <input type="number" min="1" max="12" ng-model="node.conditionValue.month"/>/
        <input type="number" min="1" max="31" ng-model="node.conditionValue.day"/>/
        <input type="number" min="1" max="3000" ng-model="node.conditionValue.year"/>
    </div>

    <!--<condition-input class="inlineBlock" date="node.conditionValue"-->
                     <!--ng-if="node.getRoot().conditionType === 'date'">-->
    <!--</condition-input>-->
</div>