<div class="centered">

    <form novalidate name="form">

        <div class="contactUsInput">
            <label>Name</label>
            <input required type="text" ng-model="form.name" placeholder="Full name"/>
        </div>
        <div class="contactUsInput">
            <label>Affiliation (optional)</label>
            <input type="text" placeholder="Company, organization..." ng-model="form.company"/>
        </div>
        <div class="contactUsInput">
            <label>Email</label>
            <input required type="email" placeholder="Email address" ng-model="form.email"/>
        </div>
        <div class="contactUsInput">
            <label>Phone Number</label>
            <input required type="text" placeholder="Phone number" ng-model="form.phoneNumber"
                ng-pattern="/^[0-9\-\(\)\.]{10,}$/"/>
                <!-- ng-pattern="/^[0-9\-\(\)]{10,}$/"/ -->
        </div>

        <label>Message</label>
        <textarea required ng-model="form.message" placeholder="Enter your message here..."></textarea>
        <br><br>
        <hidden id="myRecaptcha"></hidden>
        <!-- <div class="g-recaptcha" data-sitekey="6LfM6xQTAAAAAJRd4Ne72ny29AwzWLe40JGqSdQ8"></div> -->

        <br>
        <input type="submit" value="SUBMIT" ng-disabled="form.$invalid" ng-click="submit()"/> <!-- todo -->



    </form>

</div>
