<div class="centered">

    <form novalidate>

        <div class="contactUsInput">
            <label>Name</label>
            <input type="text" ng-model="form.name" placeholder="Full name" required="required"/>
        </div>
        <div class="contactUsInput">
            <label>Affiliation (optional)</label>
            <input type="text" placeholder="Company, organization..." ng-model="form.company"/>
        </div>
        <div class="contactUsInput">
            <label>Email</label>
            <input type="email" placeholder="Email address" ng-model="form.email" required="required"/>
        </div>
        <div class="contactUsInput">
            <label>Phone Number</label>
            <input type="text" placeholder="Phone number" ng-model="form.phoneNumber" required="required"/>
        </div>

        <label>Message</label>
        <textarea ng-model="form.message" placeholder="Enter your message here..." required="required"></textarea>
        <br><br>

        <div style="border: 1px solid black; display: inline-block">
            test to check for robots will go here
        </div>
        <br>
        <input type="submit" value="SUBMIT" ng-click=""/> <!-- todo -->
    </form>

</div>
