<div class="centered">

    <!-- paragraph about BNNTs -->
    <br>
        <div id="box">
            <p>
                <h1> Our Company </h1>
                    The American Boronite Corporation (Boronite) was incorporated in early 2015. Our primary operations are located in Burlington, Massachusetts.  We are members of MIT Startup Exchange and AFFOA (Advanced Functional Fabrics of America). Boronite's founders are: <a href="{{websiteLink}}/ourTeam#dlas"> David Lashmore, Ph.D. (CEO) </a>, <a href="{{websiteLink}}/ourTeam#pbys"> Pavel Bystricky, Ph.D. (CTO) </a> and <a href="{{websiteLink}}/ourTeam#ikal"> Ivka Kalus, MBA (CFO) </a>.
                <br>
                <br>
            </p>
                <a href="{{websiteLink}}/ourTeam"> Our Team </a>
        </div>
    <br>
    <div id="box"> 
            <h1> Our Materials: BNNTs and Superwire </h1> 
    </div>
    <br>
    <div id="box">
        <p>  
            <h1> BNNTs </h1>
            Boron nitride nanotubes are a revolutionary material with unique multifunctional properties and great commercial potential. Their electro-mechanical, thermal, shielding, and high fracture energy properties have the potential to revolutionize many aerospace and terrestrial applications. By significantly reducing weight, improving strength, and replacing multiple materials in each application, Boronite’s materials will have a major positive impact on efficiency and emissions.
            <br>
            <br>
            BNNTs have a structure similar to their well-known carbon nanotube (CNT) counterparts, but with alternating boron and nitrogen atoms self-assembling into a nanoscale tube whose diameter may range from 1 to 20nm and whose length may vary from a few microns to millimeters. Due to their similar structure, BNNTs have the same phenomenal mechanical properties associated with CNTs, particularly their incredible mechanical strength and ability to be integrated into almost any shape.  However, BNNTs offer additional, superior properties and characteristics when compared with CNTs, most notably:
        </p>

    <!-- ordered list of characteristics -->
        <ol class="characteristicsList">
            <li>
                They exhibit much higher self-friction than CNTs, with the expectation of yielding much stronger yarns
            </li>
            <li>
                They maintain structural stability at temperatures up to 900°C in air, whereas CNTs are unstable above 400°C
            </li>
            <li>
                They are relatively inert to most acids and alkalis
            </li>
            <li>
                They are insulators but can be turned into semiconductors with a bandgap tunable by doping or external electric field
            </li>
            <li>
                They show outstanding electrical shielding ability
            </li>
            <li>
                They exhibit thermal transfer properties similar to CNTs (~1000 watts/m×K) but with electrically insulating characteristics
            </li>
            <li>
                They posess neutron radiation absorption and shielding properties provided by boron atoms in the structure
            </li>
            <li>
                They exhibit piezoelectric characteristics
            </li>
            <li>
                They are easily incorporated into matrices of a wide variety of other materials, including ceramics, polymers and metals
            </li>
        
        </ol>
    </div>
        <br>
        <div id="box">
            <p>
        <h1> Superwire </h1>
        Boronite, with funding through an Army Phase II SBIR, is developing advanced electrical conductors based on continuous CNT yarns. 
        The goals of our Superwire program are twofold:
        <br>
        <br>
        1) Optimize the electrical properties of our continuously spun CNT yarn. Depending on their structure, CNTs can exhibit either semiconducting or metallic characteristics.  When nanotubes are produced in high volume, they normally include a mixture of a wide range of semiconducting and metallic chiralities, which is detrimental to yarn properties. A major achievement of this phase of the program is to control the type of CNTs we produce in our reactors in order to spin yarns from predominantly metallic CNTs.
        <br>
        
        <br>
        2) Infiltrate or coat the CNT yarn with aluminum or copper to create a novel class of continuously reinforced metal/CNT composite lightweight electrical conductors. Until now, CNT-reinforced metal composites have not been available due to the difficulties inherent in their production: molten copper will not wet carbon and aluminum will react to form carbides detrimental to the composite's properties. Our patent-pending technology enables wetting of CNTs by copper and alumninum, which results in strong interfacial bonding and better charge transfer between the metal matrix and CNT reinforcement. Scanning Electron Microscopy and Energy-Dispersive X-ray spectroscopy pictures below show examples of the metal infiltrating the CNT network.
        <br>
        <br>
        <img src="images/CNT_Cu_EDS.jpg" class="logo" height="300">
        <center> <strong>SEM/EDS images showing infiltration of a CNT network by copper.
        <br>
        (a) SEM image; (b) Copper EDS image; (c) Carbon EDS image; (d) All elements image</strong> </center>
        <br>
        <br>
        <br>
        <img src="images/CNT-Cu_infiltration.jpg" class="logo" height="300">
        <center> <strong>SEM image showing copper wicking a bundle of CNTs.</strong> </center>

            </p>
        </div>

	<p>
        <br>
        <div id="box">
            <h1> Our Partners and Sponsors </h1>
            <center>
		  <a href="http://www.ansys.com/startups" target="_blank"><img src="images/ansys.jpg" alt="Ansys Startup Program Logo" height="70"></a> &nbsp; &nbsp; &nbsp; &nbsp;
		  <a href="http://go.affoa.org/" target="_blank"><img src="images/affoa.png" alt="Affoa Logo" height="70"></a> &nbsp; &nbsp;
            <a href="http://startupexchange.mit.edu/" target="_blank"><img src="images/stex.png" alt="MIT Startup Exchange Logo" height="90"></a>
            <br>
		  <a href="https://www.sbir.gov/" target="_blank"><img src="images/sbir.png" alt="SBIR Logo" height="90"></a>
          <br>
            <a href="https://www.armysbir.army.mil" target="_blank"><img src="images/Army_SBIR.jpg" alt="Army SBIR Logo" height="55"></a> &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            <a href="https://www.afsbirsttr.af.mil" target="_blank"><img src="images/AF_SBIR.jpeg" alt="AF SBIR Logo" height="70"></a>
		  <!-- <a href="https://www.greentownlabs.com/members/" target="_blank"><img src="images/greentown.png" alt="Greentown Labs Logo"></a> -->
        </center>
		</div>
    </p>

</div>