<div class="centered">

    <!-- paragraph about BNNTs -->
    <div class="paragraph">
        Boron nitride nanotubes are a revolutionary material with unique multifunctional properties and
        great commercial potential. BNNTs have a structure similar to their well-known carbon nanotube (CNT)
        counterparts, but with alternating boron and nitrogen atoms self-assembling into a nanoscale tube whose
        diameter may range from 1 to 20nm and whose length may vary from 50 to 1000 microns. Due to their similar
        structure, BNNTs have the same phenomenal mechanical properties associated with CNTs, particularly their
        incredible mechanical strength and ability to be integrated into almost any shape.  However, BNNTs offer
        additional, superior properties and characteristics when compared with CNTs, most notably:

        <br>
        <br>

        <!-- ordered list of characteristics -->
        <ol class="characteristicsList">
            <li>
                Much higher self-friction than CNTs, with the expectation of yielding much stronger yarns
            </li>
            <li>
                Maintain structural stability at temperatures up to 900°C in air, whereas CNTs are unstable above 400°C
            </li>
            <li>
                Relatively inert to most acids and alkalis
            </li>
            <li>
                Semiconducting properties which are sensitive to doping
            </li>
            <li>
                Thermal transfer properties similar to CNTs (~1000 watts/m×K) but with insulating characteristics
            </li>
            <li>
                Radiation absorption and shielding properties provided by boron atoms in the structure
            </li>
            <li>
                Piezoelectric characteristics
            </li>
            <li>
                Luminescence
            </li>
            <li>
                Easy incorporation into matrices of a wide variety of other materials, including ceramics, polymers and
                metals
            </li>
            <li>
                Experimental Data showing them to be non-toxic due to their chemical and structural stability
            </li>
        </ol>
    </div>

</div>