<div class="centered">

    <!-- paragraph about BNNTs -->
    <p>
        <h1> The Company </h1>
            The American Boronite Corporation (Boronite) was incorporated in early 2015. Our primary operations are located in Burlington, Massachusetts.  We also have facilities in Somerville, Massachusetts as part of Greentown Laboratories. The founders are: David Lashmore, Ph.D. (CEO), 
            <a href="#pbys"> Pavel Bystricky, Ph.D. (CTO) </a> and Ivka Kalus, MBA (CFO).
        <br>
        <br>
    </p>
    <a href="partials/ourTeam.html"> Our Team </a>
    <p>
        <br>    
        <h1> The Material </h1>
        Boron nitride nanotubes are a revolutionary material with unique multifunctional properties and
        great commercial potential. Their electro-mechanical, thermal, shielding, and high fracture energy properties have the potential to revolutionize many aerospace and terrestrial applications. By significantly reducing weight, improving strength, and replacing multiple materials in each application, Boronite’s materials will have a major positive impact on efficiency and emissions.
        <br>
        <br>
        BNNTs have a structure similar to their well-known carbon nanotube (CNT)
        counterparts, but with alternating boron and nitrogen atoms self-assembling into a nanoscale tube whose
        diameter may range from 1 to 20nm and whose length may vary from a few microns to millimeters. Due to their similar
        structure, BNNTs have the same phenomenal mechanical properties associated with CNTs, particularly their
        incredible mechanical strength and ability to be integrated into almost any shape.  However, BNNTs offer
        additional, superior properties and characteristics when compared with CNTs, most notably:
    </p>


    <!-- ordered list of characteristics -->
    <ol class="characteristicsList">
        <li>
            They exhibit much higher self-friction than CNTs, with the expectation of yielding much stronger yarns
        </li>
        <li>
            They maintain structural stability at temperatures up to 900°C in air, whereas CNTs are unstable above 400°C
        </li>
        <li>
            They are relatively inert to most acids and alkalis
        </li>
        <li>
            They are insulators but can be turned into semiconductors with a bandgap tunable by doping or external electric field
        </li>
        <li>
            They show outstanding electrical shielding ability
        </li>
        <li>
            They exhibit thermal transfer properties similar to CNTs (~1000 watts/m×K) but with electrically insulating characteristics
        </li>
        <li>
            They posess neutron radiation absorption and shielding properties provided by boron atoms in the structure
        </li>
        <li>
            They exhibit piezoelectric characteristics
        </li>
        <li>
            They are easily incorporated into matrices of a wide variety of other materials, including ceramics, polymers and metals
        </li>
        
    </ol>

</div>