<div class="centered">
	<p>
	American Boronite Corporation (“Boronite”) is an advanced materials company manufacturing Boron Nitride Nanotube continuous yarns and tapes.  These materials have the potential to have significant impact on a wide range of industries from energy to advanced structures.
	</p>

	<p>
	We are seeking a hands-on, motivated, talented, and ambitious multidisciplinary design engineer to help in the detailed design, optimization, and operation of our state-of-the-art nanotube production equipment.  In this position you will:
	</p>

	<ul>
		<li>Provide modeling support in the design of fluid flow models of parts of our process.</li>
		<li>Provide modeling support in the design of textile hardware for handling and post-processing of yarns and tapes.</li>
		<li>Assist in the overall design and operation of tape and yarn production systems.</li>
		<li>Assist in the development of the instrumentation required to automate the process equipment and in the design and fabrication of supporting systems.</li>
		<li>Work with Boronite’s other engineers and materials scientists to develop and characterize properties.</li>
		<li>Articulate your designs and present results to the board of technical advisors and to the research group and potentially at public meetings.</li>
		<li>Contribute to proposals.</li>
		<li>Potentially provide supervision to one or more junior engineers or technicians.</li>
	</ul>
	
	<p>
	Qualified candidates have a bachelor’s or master’s degree in mechanical engineering or a related discipline, work well with others, and have close familiarity with SolidWorks, Ansys, or with other  fluid modeling systems such as OpenFOAM.  Experience with chemical engineering process development and with nanomaterials is a plus.
	</p>

	<p>
	Boronite offers a competitive salary and generous equity incentives for its employees.
	</p>

	<p>
	Interested candidates should submit a cover letter, a CV, and names and contact information for three references to Nancy.Brothers@boronite.com. This position is open only to US Citizens.
	</p>
</div>