<div class="centered">
	<p>
	<b>R&D Technician</b> - Boronite is seeking a technician experienced in the hands-on operation of chemical deposition processes for its operation in Burlington, Massachusetts. This position is a full time hourly position. Experience in chemical vapor deposition is highly desirable. A US passport or other evidence of USA citizenship is required. Please send your resume including the names and contact information of three technical references to: <a href="mailto:jobs@boronite.com?subject=R%26D%20Technician%20Position">jobs@boronite.com</a>
	</p><p>
	<!-- Boronite is now fully staffed but we expect to expand our talent pool as future growth requires. -->  Please watch this space for future announcements.
	<!-- Template for job links:
	Following are the current job openings at Boronite (links to job description in PDF format):
	</p>
	<a href="documents/MatSciInternSummer2018.pdf" target="_blank"><h3> Materials Science/Chemical Engineering Internship Summer 2018 </h3></a>
	<a href="documents/MechEInternSummer2018.pdf" target="_blank"><h3> Mechanical Engineering Internship Summer 2018 </h3></a>
	<p>-->
	</p>
</div>