<div class="centered">
	<p>
	
	<h1> Chemist Position </h1>

	American Boronite Corporation (“Boronite”) is an advanced materials company manufacturing Boron Nitride Nanotube continuous yarns and tapes.  These materials have the potential to have significant impact on a wide range of industries from energy to advanced structures.
	</p>

	<p>
	We are seeking a hands-on, motivated, talented, and ambitious multidisciplinary chemist to help in the detailed design, optimization, and operation of our state-of-the-art nanotube production processes.  In this position you will:
	</p>

	<ul>
		<li>Help optimize the chemistry for the synthesis of boron nitride.</li>
		<li>Help optimize and design the synthesis processes specifically for Boronite’s proprietary fuels.</li>
		<li>Assist in the overall design and operation of tape and yarn production systems.</li>
		<li>Assist in the development of a process to clean boron nitride nanotube yarns in real time.</li>
		<li>Work with Boronite’s other engineers and materials scientists to develop and characterize properties.</li>
		<li>Articulate your designs and present results to the board of technical advisors and to the research group and potentially at public meetings.</li>
		<li>Contribute to proposals.</li>
		<li>Potentially provide supervision to one or more junior engineers or technicians.</li>
	</ul>
	
	<p>
	Qualified candidates have a a PhD in chemistry, organic chemistry, chemical engieering or a related discipline, work well with others, and have close familiarity with chemical synthesis processes.  Experience with nanomaterials is a plus.
	</p>

	<p>
	Boronite offers a competitive salary and generous equity incentives for its employees.
	</p>

	<p>
	Interested candidates should submit a cover letter, a CV, and names and contact information for three references to info@boronite.com. US Citizenship is required.
	</p>
</div>