<div class="contactUs">
    <form novalidate>

        <div class="contactUsInput">
            Name:<br>
            <input type="text" ng-model="form.name" required="required"/>
        </div>
        <div class="contactUsInput">
            Company (optional):<br>
            <input type="text" ng-model="form.company"/>
        </div>
        <div class="contactUsInput">
            Email:<br>
            <input type="email" ng-model="form.email" required="required"/>
        </div>
        <div class="contactUsInput">
            Phone Number:<br>
            <input type="text" ng-model="form.phoneNumber" required="required"/>
        </div>

        Message:<br>
        <textarea ng-model="form.message" required="required"></textarea>
        <br><br>

        <div style="border: 1px solid black; display: inline-block">
            test to check for robots will go here
        </div>
        <br>
        <input type="submit" ng-click=""/> <!-- todo -->
    </form>

</div>
